<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.dronuts.medihelp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="io.dronuts.medihelp.MediHelpApplication"
        android:allowBackup="true"
        android:label="MediHelp - Dronuts"
        android:theme="@style/Theme.MediHelp">
        <activity android:name="io.dronuts.medihelp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
